<!DOCTYPE html>
<html>
  <head>
    <link href="//fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="main.css" />
  </head>

  <body data-ng-app="Todo">

    <div class="page-container" ng-controller="TodoCtrl">
      <h2 class="title">Another Todo List</h2>

      <h2>You have <span class="emphasis">{{getTotal()}}</span> things to do</h2>

      <ul class="todo-list" ng-repeat="todo in todos">
        <li>
          <span>{{todo}}</span>
          <button class="bt bt-achieve" ng-click="completed(todo)">Done</button>
        </li>
      </ul>

      <ul class="add-todo">
        <li>
          <input type="text" class="text" placeholder="add todo..." ng-model="newTodo" ng-keyup="add($event)">
        </li>
      </ul>

    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>