body {
  font-family: 'Roboto', Arial;
  font-weight: 100;
}

.page-container {
  width: 90%;
  margin: 0 auto;
}

.todo-list {
  list-style-type: none;
  text-align: left;
}

.bt {
  width: 40px;
  border: none;
  cursor: pointer;
  outline: none;
}

.bt.bt-achieve {
  background: black;
  color: white;
}

.add-todo {
  padding: 10px;
  list-style: none;
}